<% post.comments.each do |comment| %>
  <div class="comment">
    <% if comment.account.id==current_account.id || current_account.id==comment.post.account_id %>
      <%= button_to 'Delete', comment, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: "btn btn-info btn-sm float-right" %>
    <% end %>

    <strong><%= comment.account.username %></strong>
    <%= comment.comment %>
    <br/><br/>
  </div>
<% end %>
