<h2>Update Post</h2>

<%= form_for @post, url: update_post_path(@post), method: :patch, local: true do |f| %>
  <br/>
  <div class="form-group">
    <%= f.label :edit_description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <br/>

  <%= f.submit "Update Post", class: "btn btn-success" %>
<% end %>
<br/>
