body {
  background: #fafafa !important;
}

.account-summary {
  text-align: left;
  margin-bottom: 20px;
}

.follower-suggestions {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.img-circle-small {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.img-circle-medium {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.img-circle-big {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.profile-stats {
  max-width: 360px;
  margin-bottom: 30px;
}

.profile-posts {
  margin-top: 50px;
}

.m-r-15 {
  margin-right: 15px;
}

.bio-boundary {
  max-width: 500px;
  word-break: break-word;
}
