.insta-post {
  margin-bottom: 15px;
}

.post-meta {
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;

  img {
    margin-right: 10px;
  }
}

.post-details {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
}

.post-actions {
  margin-bottom: 10px;
  margin-right: 10px;
  color: #ddd;
}

.comment-box {
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
}

.post-comment {
  box-shadow: none !important;
}

.post-meta-margin-up{
  margin-top: 10px;
}

.post-meta-margin-right{
  margin-right: 15px;
}
